<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{album.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" ng-submit="updateAlbum()">
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Logo</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-xs-2">
                               <img class="update-img" ng-src="{{ album.logoUrl || 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTU3E8TmEAHGl4BwuC-ZK3fXxPq2cFWublNpyzZgcok_40rwTB3FfdPYFU' }}"   id="logo">
                            </div>
                            <div class="col-xs-10">
                                <input class="align-input" fileread="album.logoUrl " type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="album.title" id="title" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="artist" class="col-sm-2 control-label">Artist</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="album.artist" id="artist" placeholder="Artist">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <select id="country" ng-model="album.country" class="form-control">
                            <option>EU</option>
                            <option>Norway</option>
                            <option>UK</option>
                            <option>USA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="artist" class="col-sm-2 control-label">Company</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="album.company" id="company" placeholder="Company">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" step="0.1" class="form-control" ng-model="album.price" id="price" placeholder="Price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="year" class="col-sm-2 control-label">Year</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input id="year" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="album.year" is-open="status.opened"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"/>
                            <span class="input-group-addon" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>